@use "../../../../shared/styles/variables" as *;
.product-image {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  object-fit: cover;
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.1));
}

.product-info {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 1rem;
  h3 {
    color: $primary-dark;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .price {
    color: $primary-dark;
    font-weight: 600;
    opacity: 0.8;
  }
}

.order-btn {
  background: $primary-dark;
  color: white;
  border-radius: 1rem;
  padding: 10px 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  &.added {
    background-color: #707db7;
    transform: scale(1.05);
  }
}

.admin-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  .edit-btn,
  .delete-btn {
    background: none;
    border: none;
    color: $primary-dark;
    font-weight: 600;
    cursor: pointer;
  }
}
