<nav class="navbar">
  <div class="logo">
    <a class="logo-text" routerLink="/"> Sweet <span>Lab</span> </a>
  </div>
  <div class="nav-links">
    <a class="login-btn" routerLink="/catalogue"> Catalog </a>
    @if (!isAuthenticated) {
      <a class="login-btn" routerLink="/login"> Login </a>
    }

    @if (isAuthenticated) {
      @if (role === "user") {
        <a class="login-btn" routerLink="/cart"> My cart </a>
      }
      @if (role === "admin" || role === "worker") {
        <a class="login-btn" routerLink="/admin-dashboard"> Inventory </a>
        <a class="login-btn" routerLink="/orders"> Orders </a>
      }
      <button (click)="onLogout()" class="login-btn">Logout</button>
    }
    <p>{{ role }}</p>
  </div>
</nav>
