<div class="admin-dashboard-content">
  <h1>Inventory Manager</h1>
  <p>Manage all products in the inventory.</p>
  <div class="inventory-content">
    <div class="inventory-buttons">
      <button class="inventory-btn" (click)="onAddProduct()">
        Add Product
      </button>
      <button class="inventory-btn" (click)="onOpenClick()">
        Recently Deleted
      </button>
    </div>
    <app-products></app-products>
  </div>
  @if (showAddModal) {
    <app-edit-product-modal
      [formTitle]="formTitle"
      (closeModal)="showAddModal = false"
    ></app-edit-product-modal>
  }
  @if (showDeletedItemsModal) {
    <app-recently-deleted-modal
      [deletedProducts]="deletedProducts"
      (closeModal)="showDeletedItemsModal = false"
    ></app-recently-deleted-modal>
  }
</div>
