<div class="admin-dashboard-content">
  <h1>Inventory Manager</h1>
  <p>Manage all products in the inventory.</p>
  <div class="inventory-content">
    <div class="inventory-buttons">
      <button class="inventory-btn">Add Product</button>
      <button class="inventory-btn" (click)="onOpenClick()">
        Recently Deleted
      </button>
    </div>
    <app-products></app-products>
  </div>
  @if (showDeletedItemsModal) {
    <app-recently-deleted-modal
      [deletedProducts]="deletedProducts"
      (closeModal)="showDeletedItemsModal = false"
    ></app-recently-deleted-modal>
  }
</div>
