<div class="dashboard-view">
  <app-filters (filtersChanged)="onFiltersUpdated($event)"></app-filters>
  <h1 class="main-title">Desserts</h1>
  <div class="products-list">
    <div class="product-list-container">
      @if (isLoading) {
        <p>Products are loading...</p>
      }
      @if (!errorMessage && !isLoading) {
        <div class="product-list">
          @for (product of displayedItems; track product.id) {
            <app-product [product]="product"></app-product>
          }
        </div>
      }
      <div class="pagination">
        <button [disabled]="page === 0" (click)="pageDown()">Back</button>

        <span> Page {{ page + 1 }} of {{ totalPages }} </span>

        <button [disabled]="page >= totalPages - 1" (click)="pageUp()">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
