<div class="cart-container">
  <header class="cart-header">
    <button class="back-btn" routerLink="..">&#8592; Back</button>
    <h1>My Cart</h1>
  </header>
  <div class="cart-list-container">
    <div class="cart-items-list">
      @for (cartItem of cartItems; track cartItem.id) {
        <app-cart-item [cartItem]="cartItem"></app-cart-item>
      }
    </div>
    <div class="cart-checkout-footer">
      <div class="total-row">
        <span>Total amount:</span>
        <span class="total-price">{{ totalCartValue }} RON</span>
      </div>
      <button class="btn-finalize" (click)="onFinalizeOrder()">
        Finalize Order
      </button>
    </div>
  </div>
</div>
@if (isOpened) {
  <app-confirmation-modal [isOpened]="isOpened"></app-confirmation-modal>
}
